<h1 class="edit">Editing project information</h1>
 
<%= form_for (@project) do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
      this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p class="edit">
    <%= f.label :projects %><br>
    <%= f.text_field :projects %>
  </p>
 
  <p class="edit">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </p>

   <p class="edit">
    <%= f.label :domain %><br>
    <%= f.text_area :domain %>
  </p>
   
    <p class="edit">
    <%= f.label :technology %><br>
    <%= f.text_area :technology %>
  </p>

 <p class="edit">
    <%= f.label :tags %><br>
    <%= f.text_area :tags %>
  </p>

 <p class="edit">
    <%= f.label :start_date %><br>
    <%= f.text_area :start_date %>
  </p>

 <p class="edit">
    <%= f.label :end_date %><br>
    <%= f.text_area :end_date %>
  </p>

 <p class="edit">
    <%= f.label :project_lead %><br>
    <%= f.text_area :project_lead %>
 </p>

 <p class="edit">
    <%= f.label :project_type %><br>
    <%= f.text_area :project_type %>
 </p>

 <p class="edit">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
 </p>



  <p class="save-button">
    <%= f.submit "save"%>
  </p>
<% end %>
 
<%#= link_to 'Back', project_path %>