<div class="table-responsive">
	 <%= link_to 'Add Project', new_project_path, :class => 'btn btn-success btn-lg bt'  ,"data-no-turbolink" => true%> &nbsp;&nbsp;&nbsp;

    <div class="row">
     <div class="center hero-unit">
       <aside class="span4">
         <%= form_tag root_path, :method => :get do %>
           <p>
           <%= text_field_tag :search, params[:search] %>
           <%= submit_tag "Search", :name => nil %>
           </p>
         <% end %>
       </aside>
     </div>
   </div>

  <table class="table table-bordered table table-hover table table-striped tablewidth">
 <tr>
  <td> ID </td>
  <td> PROJECT </td>
  <td> URL</td>
  <td> DOMAIN </td>
  <td> TECHNOLOGY </td>
  <td> TAGS </td>
  <td> START_DATE </td>
  <td> END_DATE </td> 
  <td> PROJECT_LEAD</td>
  <td> PROJECT_TYPE</td>
  <td> DESCRIPTION </td>
   <th colspan="2">Action</th>

   
   <% @projects.each do |p| %>
  <tr>
  <td><%=p.id%></td>
  <td><%=p.projects%></td>
  <td><%=p.url%></td>
  <td><%=p.domain%></td>
  <td><%=p.technology%></td>
  <td><%=p.tags%></td>
  <td><%=p.start_date%></td>
  <td><%=p.end_date%></td> 
  <td><%=p.project_lead%></td>
  <td><%=p.project_type%></td>
  <td><%=p.description%></td>

  <td >
     <%= link_to 'Edit', edit_project_path(p), :class => 'btn btn-success btn-lg'  ,"data-no-turbolink" => true%> &nbsp;&nbsp;&nbsp;
     <%= link_to 'delete', project_path(p), :class => 'btn btn-danger btn-lg',
                    method: :delete, data: { confirm: 'Are you sure?' } %> 
       
        
        </td>
 </tr>
<%end%>

</table>
</div>