<% provide(:title, 'New Project') %>
<div class="index_content loginPage">
	<div class="loginForm">
	   <div class="login_area">
		   <div class="">
				<h1 class="pageTitle ">Project</h1>
			</div>

          <%= form_for (@project) do |f| %>
          <%#= render 'shared/error_users' %>

	      <div class="fieldname">
      	      <h1><%= f.label :projects %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :projects, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :url %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :url, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :domain %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :domain, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :technology %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :technology, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>
	      
	      <div class="fieldname">
      	      <h1><%= f.label :tags %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :tags, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :start_date %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :start_date, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :end_date %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :end_date, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :project_lead %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :project_lead, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :project_type %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :project_type, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>

          <div class="fieldname">
      	      <h1><%= f.label :description %></h1>
     		   <div class="login_field"> 
			       <%= f.text_field :description, class:"nameField", value:"" %>
		       </div>
	      </div>
          <div class="clear"></div>
	  
          <%= f.submit "Create", class: "btn btn-large btn-primary" %>
	   </div> 
	    <div class="clear"></div>
       <% end %>
  </div>
</div>
